{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		Nos Appartements
	</h1>
	<div class="row pb-4">
		{% for housing in housings %}
			<div class="col-lg-4 pb-4">
				{% include "housing/_card.html.twig" %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
