<div class="card mb-3">
	<img src={{(housing.mainPicture ? housing.mainPicture : "https://fakeimg.pl/800x800/?text=Maline" )}} alt="Image de {{housing.address}}" class="img-fluid" alt="image du logement">
	<div class="card-body">
		<span class="badge bg-primary">
			Créer le
			{{housing.createdAt | date("d/m/Y")}}
		</span>
		{% if housing.updateAt %}
			<p class="badge bg-info">
				Mise à jour le
				{{housing.updateAt| date("d/m/Y à H:i")}}
			</p>
		{% endif %}

		<div class="card-body">
			<h5 class="card-title">
				<i class="fas fa-map-marker-alt text-warning"></i>
				{{housing.address}}
			</h5>
			<p class="card-text">
				Nombre de pièces :
				{{housing.room}}
			</p>
			<p class="card-text">
				Étage :
				{{housing.floor}}
			</p>
			<p class="card-text">
				Ascenseur :
				{{(housing.elevator) ? "oui" : "non"}}
			</p>
		</div>


		<hr>
		<div>
			<a href="{{path('housing_show', {'id' : housing.id})}}" class="btn btn-primary btn-sm">
				Détails
			</a>
			<a href="{{path('housing_edition',{'id' : housing.id})}}" class="btn btn-success btn-sm">
				Editer
			</a>
		</div>
	</div>
</div>
