{% block infos %}
	<div class="row">
		<div class="col-lg-4 col-md-12">
			{{ form_row(form.address) }}
		</div>
		<div class="col-lg-4 col-md-12">
			{{ form_row(form.room) }}
		</div>
		<div class="col-lg-4 col-md-12">
			{{ form_row(form.floor) }}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-md-12">
			{{ form_row(form.elevator) }}
		</div>
		<div class="col-lg-6 col-md-12">
			{{ form_row(form.mainPicture) }}
		</div>
	</div>

{% endblock infos %}

{% block submit %}
	{{ form_row(form._token) }}

	<div class="row">
		<div class="col-12 text-center mt-3">
			{{ form_row(form.submit) }}
		</div>
	</div>
{% endblock submit %}
