{% extends "base.html.twig" %}

{% block title %}
	Edition de l'appartement
{% endblock %}

{% block body %}
	{{ form_start(form) }}

	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="row">
				<div class="col-12">
					<div class="card shadow mt-3">
						<div class="card-header d-flex align-items-center">
							<h6 class="m-0 font-weight-bold text-primary">
								Éditer les informations de l'appartement
							</h5>
						</div>
						<div class="card-body">
							{{ block("infos", "housing/_form.html.twig") }}

							{{ block("submit", "housing/_form.html.twig") }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{ form_end(form, {"render_rest": false}) }}
{% endblock %}
