{% extends 'base.html.twig' %}

{% block title %}
	Détails de l'appartement n°:
	{{housing.id}}
{% endblock %}
{% block body %}
	<H1>
		Détails de l'appartement n°:
		{{housing.id}}
	</H1>
	<div class="row">
		<div class="col-4">
			<img src={{housing.mainPicture ? housing.mainPicture : "https://fakeimg.pl/800x800/?text=Maline"}} alt="Image de {{housing.address}}" class=" img-fluid">
		</div>
		<div class="col">
			<span class="badge bg-primary">
				Créer le
				{{housing.createdAt | date("d/m/Y")}}
			</span>
			{% if housing.updateAt %}
				<p class="badge bg-info">
					Mise à jour le
					{{housing.updateAt| date("d/m/Y à H:i")}}
				</p>
			{% endif %}
			<p>
				Adresse de l'appartement :
				{{housing.address}}
			</p>
			<p class="card-text">
				Nombre de pièces :
				{{housing.room}}
			</p>
			<p class="card-text">
				Étage :
				{{housing.floor}}
			</p>
			<p class="card-text">
				Ascenseur :
				{{(housing.elevator) ? "oui" : "non"}}
			</p>
			<a href="{{path('housing_edition',{'id' : housing.id})}}" class="btn btn-success btn-sm">
				Editer
			</a>
		</div>
	</div>
{% endblock %}
