<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('home_index')}}">
			<i class="fas fa-house-user"></i>
			Maline Housing
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
